.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 3rem 0.5rem;

    .pokemon__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .pokemonList__wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      
        a {
          color: inherit;
          text-decoration: none;
        }
    }

    .buttons {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      margin-top: 4rem;
    }
  }
 