.form {
    min-width: 320px;

    @media (max-width: 500px) {
      min-width: 220px;
    }

  .formInput {
    width: 100%;
    padding: 0.6rem 2rem;
    box-sizing: border-box;
    outline: none;
    float: left;
    border-radius: 0.8rem;
    background-color: white;
    // border-color: #ffde00;
    border-width: 0;
  }
}
